* {
    margin: 0;
    padding: 0;
}

#background_container {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
}

.heading {
    position: relative;
    top: 10%;
    padding: 2%;

}

h1 {
    display: flex;

    font-size: 10rem;
    color: white;
}

.quote {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    height: 30%;
    width: 40%;
    padding: 2% 27%;
}

p {
    color: rgba(214, 203, 45);
    text-align: justify;
    font-weight: bolder;
}
#login{
    float: right;
    margin: 2% 5%;
}
 button {
   
    padding: 1%;
    width: 8rem;
    border: 2px solid balck;
    background: none;
    box-shadow: 2px 3px rgb(10, 10, 10);
}
 button:hover,
a:hover {
    background: black;
    color: white;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;


}
@media (max-width: 300px) {
    h1 {
        font-size: 2rem;
    }

    .quote {
        font-size: 1rem;
        width: 80%;
        padding: 2% 10%;
    }

    p {
        font-size: 0.75rem;
    }

    button {
        width: 4rem;
        font-size: 0.75rem;
    }

    a {
        font-size: 1rem;
    }

    #login {
        margin: 2% 2%;
    }
}

/* For tablet screens (up to 768px) */
@media (max-width: 768px) {
    h1 {
        font-size: 5rem;
    }

    .quote {
        font-size: 1.5rem;
        width: 60%;
        padding: 2% 20%;
    }

    p {
        font-size: 1rem;
    }

    button {
        width: 6rem;
        font-size: 1rem;
    }

    a {
        font-size: 1.25rem;
    }

    #login {
        margin: 2% 3%;
    }
}